<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>Free Responsive Admin Theme - ZONTAL</title>
    <!-- BOOTSTRAP CORE STYLE  -->
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <!-- FONT AWESOME ICONS  -->
    <link href="/css/font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLE  -->
    <link href="/css/style.css" rel="stylesheet" />
     <!-- HTML5 Shiv and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <%= render '/header' %>    
    <!-- MENU SECTION END-->
    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="page-head-line">Explore Event</h4>
                </div>
            </div>
             <div class="row">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Overview
                    </div>
                    <div class="panel-body">
                        <p>Explore event details</p>
                    </div>
                </div>
            </div>

            <div class="row row-eq-height">
                <div class="col-md-4 col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Goals
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Status</th>                                
                                            <th>Deadline</th>
                                            <th>Description</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <%= form_for(@goal) do |f| %>
                                                <td></td>
                                                <td><%= f.date_field :end_date %></td>
                                                <td><%= f.text_field :description, size: 10  %></td>
                                            <% end %>
                                        </tr>

                                        <% @goals.each_with_index do |goal, i| %>
                                            <tr data-toggle="modal" data-target=<%= "#myGoal#{i}" %>>
                                                <td><span class="btn btn-primary btn-xs">In Progress</td>
                                                <td><%= goal.end_date.to_date %></td>
                                                <td><%= truncate(goal.description, length: 20) %></td>
                                            </tr>
                                            <div class="modal fade" id=<%= "myGoal#{i}" %> tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                            <h4 class="modal-title" id=<%= "myGoal#{i}Label" %>><%= goal.title %></h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <%= goal.description %>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <strong class="pull-left">Mark as:&nbsp;</strong>
                                                            <%= button_to "Incomplete", task_path(goal), change: "Incomplete" ,method: :put, class: "btn btn-sm btn-danger pull-left" %>
                                                            <%= button_to "In progress", task_path(goal), change: "In progress" ,method: :put, class: "btn btn-sm btn-primary pull-left" %>
                                                            <%= button_to "Completed", task_path(goal), change: "Completed" ,method: :put, class: "btn btn-sm btn-success pull-left" %>
                                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        <% end %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Tasks
                        </div>
                        <div class="panel-body">
                            <% if alert %>
                                <div class="alert alert-danger">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    <%= alert %>
                                </div>    
                            <% end %>
                            <% if notice %>
                                <div class="alert alert-success">
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                    <%= notice %>
                                </div>
                            <% end %>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>                               
                                            <th>Deadline</th>
                                            <th>Description</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <%= form_for(@task) do |f| %>
                                                <td><%= f.date_field :end_date %></td>
                                                <td><%= f.text_field :description, size: 15 %></td>
                                            <% end %>
                                        </tr>
                                        <% @tasks.each_with_index do |task, i| %>
                                            <tr data-toggle="modal" data-target=<%= "#myModal#{i}" %>>
                                                <td><%= task.end_date.to_date %></td>
                                                <td><%= truncate(task.description, length: 20) %></td>
                                            </tr>
                                            <div class="modal fade" id=<%= "myModal#{i}" %> tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                            <h4 class="modal-title" id=<%= "myModal#{i}Label" %>><%= task.title %></h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <%= task.description %>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <%= button_to "Delete", task_path(task), method: :delete, class: "btn btn-sm btn-danger pull-left" %>
                                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        <% end %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Contact list
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Email</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Mark Otto</td>
                                            <td><a href="mailto:mark.otto@cbe.ab.ca">mark.otto@cbe.ab.ca</a></td>
                                        </tr>
                                        <tr>
                                            <td>Jacob Thornton</td>
                                            <td><a href="mailto:jacob.t@twentyfirst.ca">jacob.t@twentyfirst.ca</a></td>
                                        </tr>
                                        <tr>
                                            <td>Larry the Bird</td>
                                            <td><a href="mailto:larry@thebird.com">larry@thebird.com</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%= render '/footer' %>

    <!-- FOOTER SECTION END-->
    <!-- JAVASCRIPT AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY SCRIPTS -->
    <script src="/js/jquery-1.11.1.js"></script>
    <!-- BOOTSTRAP SCRIPTS  -->
    <script src="/js/bootstrap.js"></script>
</body>
</html>
